header {
    background-image: linear-gradient(to bottom right, #b0c2f2, #b0c2f2, #ff00bb);
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-bottom: 1px solid #ff00bb;
}

.me {
    position: relative; 
    margin: 3rem 0px 0px 0px; 
    right: 0px; 
    top: 0px; 
    max-width: 300px; 
    height: auto;
}

@media (max-width:768px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    .header-right {
        max-width: 100vw!important;
    }
    .me {
        width: 100%;
        height: auto;
        margin: 0px auto 24px auto;
    }
}

.header-left {
    color: black;
    margin-top: 50px;
    max-width: 60vw;
}

@media (max-width:768px) {
    .header-left, .header-right {
        max-width: 100vw;
    }
}

.header-right {
    max-width: 40vw;
}

.hi {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin: 1rem auto;
}

.container-skills {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-skills-item {
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-skills-item-simbol {
    width: 200px;
    height: 150px;
    font-size: 5rem;
    margin: 0px;
}

.container-skills-item span {
    font-size: 1rem;
}

.webdev {
    width: 200px;
    height: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    animation: circleContainer 10s infinite linear;
}

.webdev i {
    width: auto!important;
    height: auto!important;
    font-size: 2.5rem;
    animation: circle 10s infinite linear;
}

@keyframes circleContainer {
    /*0% {
        transform: rotate(0deg) 
              translateY(-100px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) 
              translateY(-100px) rotate(-360deg);
    }*/
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes circle {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

img {
    max-width: 100%;
    display: block;
  }
  
  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;

    background-color: #b0c2f2;
    border: 1px solid #ff00bb;
    border-radius: 5px;
    padding: 10px;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  figure a {
    color: black;
    text-decoration: none;
  }
  
  figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
  }
  
  .container {
    column-count: 3;
    column-gap: 20px;
    row-gap: 20px;
    width: 80vw;
    margin: auto;
  }

  @media (max-width:768px) {
    .container {
        column-count: 1;
    }
}

.btn--solid {
    color: #fff;
    background: #ff00bb;
    border: 2px solid #ff00bb;
    border-radius: 10px;
    padding: 0.5em 2em;
    text-decoration: none;
    font-weight: 500;
}

.btn--outline {
    width: auto;
    color: #ff00bb;
    background: transparent;
    border: 2px solid #ff00bb;
    padding: 0.5em 2em;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    margin: 1rem;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.btngit {
    font-size: 0.8rem;
}
.txt-btn {
    margin-left: 1rem!important;
}